ion-menu-button {
    color: var(--ion-color-primary);
  }
  ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #f9f9f9));
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  img{
    max-width: 70%;
    max-height: 70%;
    margin-top: 10px;
  }
  ion-header{
    border-radius: 10px;
  }
  .header-row {
    background: #BD9B36;
    color: #fff;
    font-size: 15px;
  }
  
  ion-col {
    border: 1px solid #ECEEEF;
  }
  ion-card {
    padding: 0.5em;
    margin-right: 17.5px !important;
    margin-top: 1.7em !important;
  }
  ion-text ion-icon.delete-icon {
    padding: 5px;
    background: linear-gradient(90deg,#020024,red 0,red);
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    color: #fff !important;
    border-radius: 4px;
    font-size: 15px!important;
    margin-right: 7px;
}
ion-text ion-icon.pencil-icon {
  padding: 5px;
  background: linear-gradient(90deg,#020024,green 0,green);
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
  color: #fff !important;
  border-radius: 4px;
  font-size: 15px!important;
  margin-right: 7px;
}
ion-col ion-text.active {
  color: green !important;
  font-weight: 600;
}
ion-col ion-text.delete {
  color: red !important;
  font-weight: 600;
}
ion-grid ion-row{
  padding: 3px;
}
  @media screen and (max-width: 990px) {
     img {
      max-width: 50%;
      max-height: 50%;
      margin-top: 17px;
  }
  }