<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>View Uom</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline" style="font-size: 40px;margin-right: 15px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-grid class="ion-text-center">
        <ion-row class="header-row">
          <ion-col><ion-text>Sl.No.</ion-text></ion-col>
          <ion-col>Uom Type</ion-col>
          <ion-col>Uom Name</ion-col>
          <ion-col>Action</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>1</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>Single</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>pic</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>
              <ion-icon class="pencil-icon"  ios="create-outline" md="create-sharp"></ion-icon>
              <ion-icon class="delete-icon"  ios="trash-outline" md="trash-sharp"></ion-icon>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>2</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>Single</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>pkt</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>
              <ion-icon class="pencil-icon"  ios="create-outline" md="create-sharp"></ion-icon>
              <ion-icon class="delete-icon"  ios="trash-outline" md="trash-sharp"></ion-icon>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>3</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>Single</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>no.</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>
              <ion-icon class="pencil-icon"  ios="create-outline" md="create-sharp"></ion-icon>
              <ion-icon class="delete-icon"  ios="trash-outline" md="trash-sharp"></ion-icon>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-card-content>
</ion-card>
</ion-content>
