<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <img alt="Silhouette of mountains" src="assets/images/BackboneLayout.png" />
        <ion-accordion-group style="margin-top: 1em;">
          <div
            *ngFor="let menu of sidebarMenu; let i = index"
          >
          <ion-accordion *ngIf="!menu.children">
            <div slot="header">
                <ion-item routerDirection="root" [routerLink]="[menu.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-icon class="head-menu" slot="start" [ios]="menu.icon + '-outline'" [md]="menu.icon + '-sharp'"></ion-icon>
                  <ion-label>{{menu.title}}</ion-label>
                </ion-item>
            </div>
          </ion-accordion>
          <ion-accordion *ngIf="menu.children?.length > 0" [ngClass]="menu.title" (mouseover)='over(menu.title)' (mouseout)='out(menu.title)'>
            <ion-item slot="header">
              <ion-icon class="head-menu" slot="start" [ios]="menu.icon + '-outline'" [md]="menu.icon + '-sharp'"></ion-icon>
              <ion-label>{{menu.title}}</ion-label>
            </ion-item>
            <div class="ion-padding padding" slot="content">
              <ion-accordion-group>
                <div
                  *ngFor="let subMenu of getsubMenuList(menu.children); let f = index"
                >
                  <ion-accordion *ngIf="!subMenu.subChildren" value="secondFirs">
                    <div slot="header">
                      <ion-item routerDirection="root" [routerLink]="[subMenu.url]"  lines="none" detail="false" routerLinkActive="selected">
                        <ion-label>{{subMenu.title}}</ion-label>
                      </ion-item>
                  </div>
                  </ion-accordion>
                <ion-accordion *ngIf="subMenu.subChildren?.length > 0" [value]="'secondFirst' + f" [ngClass]="subMenu.title" (mouseover)='over(subMenu.title)' (mouseout)='out(subMenu.title)'>
                  <ion-item slot="header">
                    <ion-label>{{subMenu.title}}</ion-label>
                  </ion-item>
                  <div 
                    *ngFor="let subChildMenu of subMenu.subChildren;"
                    routerDirection="root" 
                    [routerLink]="[subChildMenu.url]" 
                    lines="none" detail="false" 
                    routerLinkActive="selected" 
                    class="ion-padding padding3 sub-menu" 
                    slot="content"
                  >
                    {{subChildMenu.title}}
                  </div>
                </ion-accordion>
                </div>
                  
              </ion-accordion-group>
            </div>
          </ion-accordion>
        </div>
      </ion-accordion-group> 
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
