// ion-menu ion-content {
//   --background: var(--ion-item-background, var(--ion-background-color, #fff));
// }
// ion-split-pane ion-router-outlet {

//   --background: var(--ion-item-background, var(--ion-background-color, #fff));
// }

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item {
  --color: var(--ion-color-contrast);
}

// ion-menu.md ion-item.selected ion-icon {
//   color: var(--ion-color-primary);
// }

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
ion-menu{
  width: 0px;
 }
//  ion-item.selected {
//   --color: var(--ion-color-primary);
// }
#sidenav {
  ion-item-group[submenu] {
    overflow: hidden;
    display: block;
    height: 0;
    transition: height .3s linear;
    padding-left: 5%;
    &.visible {
        height: inherit;
        // this is just sample value, calculate how much space you need for your menu items
    }
  }
  ion-item-group[subchildmenu] {
    overflow: hidden;
    display: block;
    height: 0;
    transition: height .3s linear;
    padding-left: 5%;
    &.visible {
        height: inherit;
        // this is just sample value, calculate how much space you need for your menu items
    }
  }
  

  
}
ion-item.item-lines-full{
  --border-width: 0 0 0px 0 !important;
}
:host(.item-lines-full) {
   --border-width: 0 0 0px 0 !important; 
  --show-full-highlight: 1;
  --show-inset-highlight: 0;
}
ion-accordion ion-item:hover{
  --background:#BD9B36;
  --color:#fff !important;
}
ion-accordion.ion-padding:hover{
  --background:#BD9B36;
  --color:#fff !important;
}

ion-accordion ion-item ion-icon.icon-inner:hover{
  --color:#fff !important;
}
ion-accordion div.sub-menu:hover{
  background-color: #BD9B36;
     padding: 15px;
    border-radius: 5px;
    color: #fff;
}
div.inactive{
  display: none;
}
div.padding{
  padding-top: var(--ion-padding, 0px);
  padding-bottom: var(--ion-padding, 0px);
}
div.padding2{
  padding-top: var(--ion-padding, 0px);
}

 
@media screen and (max-width: 990px) {
  ion-menu{
     width: 100%
   }
}
