<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>View User</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline" style="font-size: 40px;margin-right: 15px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-grid class="ion-text-center">
        <ion-row class="header-row">
          <ion-col size="1"><ion-text>Sl.No.</ion-text></ion-col>
          <ion-col size="2">Name</ion-col>
          <ion-col size="2">Role</ion-col>
          <ion-col size="2">Email</ion-col>
          <ion-col size="2">Contact Number</ion-col>
          <ion-col size="1">Status</ion-col>
          <ion-col size="2">Action</ion-col>
        </ion-row>
        <ion-row *ngFor="let user of UserList; let i = index">
          <ion-col size="1">
            <ion-text>{{i+1}}</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-text>{{user.FULL_NAME}}</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-text>{{user.USER_ROLE}}</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-text>{{user.USER_EMAIL}}</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-text>{{user.USER_MOBILE_NUMBER}}</ion-text>
          </ion-col>
          <ion-col size="1" >
            <ion-text *ngIf="user.IS_ACTIVE == '1'" class="active">Active</ion-text>
            <ion-text *ngIf="user.IS_ACTIVE == '0'" class="delete">Delete</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-text>
              <ion-icon class="pencil-icon"  ios="create-outline" md="create-sharp"></ion-icon>
              <ion-icon class="delete-icon"  ios="trash-outline" md="trash-sharp"></ion-icon>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-card-content>
</ion-card>
</ion-content>
