/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f9f9f9; }
.menu-content-overlay{
    margin-top: 15px;
    background-color: #f9f9f9;
}
.content-ltr{
    background-color: #f9f9f9;
}
ion-router-outlet:root {
    --ion-background-color: #f9f9f9;
}
ion-header {
    border-radius: 15px;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    padding: 0.1em;
    margin-left: 10px;
    
    /* margin-right: 20px !important; */
    width: 98%;
}
ion-header ion-title{
    color: #BD9B36 !important;
    font-weight:600;
}
// ion-item {
//     border-radius: 15px;
//     box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
//     width: 100%;
//     margin-top:5px;
// }

.sc-ion-buttons-md-h {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 99;
    margin-right: 2em;
}
ion-item ion-select{
    --background-hover:none;
  }
// ion-title:after {
//     position: absolute;
//     top: 5px;
//     right: 0;
//     content: "";
//     height: 15px;
//     width: 2px;
//     background: #70657b;
//     border-radius: 5px;
//     margin-left: 15px;
// }
img {
    margin-left: 3em;
    max-width: 70%;
    border: 0;
    font-size: 10px !important;
}
// ion-list ion-menu-toggle ion-item:hover {
//     background-color: #BD9B36 !important;
//     color: #fff !important;
// }
// ion-menu.md ion-item:hover {
//     // --color: var(--ion-color-contrast);
//     //--background: none;
//   }
ion-item ion-icon.head-menu {
    padding: 5px;
    background: linear-gradient(90deg,#020024,#BD9B36 0,#BD9B36);
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    color: #fff !important;
    border-radius: 4px;
    font-size: 15px!important;
    margin-right: 7px;
}
ion-accordion ion-icon.head-menu {
    padding: 5px;
    background: linear-gradient(90deg,#020024,#BD9B36 0,#BD9B36);
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    color: #fff !important;
    border-radius: 4px;
    font-size: 15px!important;
    margin-right: 7px;
}
ion-item ion-icon.sub-menu {
    padding: 5px;
    background: linear-gradient(90deg,#020024,#fff 0,#fff);
     box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    // color: #fff !important;
    // border-radius: 4px;
    font-size: 15px!important;
    margin-right: 7px;
}
ion-grid ion-button.cancel-button{
    --background: #f44336;
}
ion-grid ion-button.save-button{
    --background: #BD9B36;
}


